html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: rgb(206, 211, 238);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.domhide {
  display: none;
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 2em);
  grid-template-rows: repeat(4, 2em);
  @media screen and (max-width: 400px) {
    grid-template-columns: repeat(4, 1.5em);
    grid-template-rows: repeat(4, 1.5em);
    font-size: 2.5rem;
  }
  @media screen and (max-width: 305px) {
    grid-template-columns: repeat(4, 1.6em);
    grid-template-rows: repeat(4, 1.6em);
    font-size: 2.2rem;
  }
  grid-gap: 1px;

  border-width: 2px;
  border-style: solid;
  border-color: rgba(196, 201, 228, 0.37);
  padding: 8px;
  background: rgb(194, 201, 235);
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  cursor: pointer;
  transition: transform, 400ms;
  user-select: none;
}

#grid > div:hover {
  background-color: rgb(253, 255, 224);
}

#grid > div.selected {
  background-color: lightgray;
  transform: rotateY(180deg);
}

#grid > div.found {
  background-color: lightgreen;
}

#grid > div.error {
  background-color: lightcoral;
}
#grid > div.hidden {
  color: rgba(0, 0, 0, 0);
}

#infos {
  margin-bottom: 0.25em;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  transform: translatey(-2em);
  height: 10px;
  width: 100%;
  cursor: default;
}

#win-screen,
#end-screen,
#start-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game-screen {
  display: none;
}
#end-screen {
  color: salmon;
  #end-infos {
    width: 20rem;
    font-size: 1.5em;
    text-align: center;
    margin-block-end: 1rem;
  }
}
#winscreen {
  color: green;
}

#win-screen.active,
#end-screen.active,
#start-screen.active,
#game-screen.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chrono {
  color: #292516;
}

button {
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: #fada5e;
  color: #292516;
  cursor: pointer;
  &:hover {
    filter: brightness(90%);
  }
}

button:disabled {
  opacity: 0.5;
  background: #666;
  cursor: default;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  margin-block-start: 1rem;
  h2 {
    text-align: center;
  }
  table {
    width: 100%;
  }
  tr:nth-child(odd) {
    background-color: #aac3e4;
  }
  tr:nth-child(n + 7) {
    display: none;
  }
  th {
    background-color: rgb(171, 179, 212);
    color: #f6f8fb;
  }
  td,
  th {
    border: 0px;
    padding: 8px;
    text-align: left;
  }
  .leaderboard-clear {
    margin-top: 1rem;
    padding: 1rem;
    align-self: center;
    color: #f6f8fb;
    background: #677aa6;
  }
}

.chrono-container {
  display: none;
}
.chrono-container.active {
  display: flex;
  gap: 0.6rem;
}
